body{
    overflow-x: hidden;
}
@media(max-width: 1281px){
  .footer ul li {
    padding: 0 14px;
}
@media(max-width: 1200px){
/*.banner-wraper {
    width: 100%;
    max-width: 100%;
}*/
img.img-fluid.apple-store-image {
    width: 100%;
}
img.img-fluid.google-store-image {
    width: 100%;
}
.img-div {
    margin-right: 10px;
}
.banner-info h6 span.one {
	font-size: 105px;
}
.banner-info h6 span {
    font-size: 60px;
}
.banner-info {
    padding: 22px 0 150px;
}
.custom-navbar-hm-pg li {
    font-size: 13px;
}
.color-grey {
    font-size: 21px;
}
.color-red {
    font-size: 24px;
}
.btn.btn-danger.register-now-btn {
    font-size: 15px;
}
.howitwork-wraper h2 {
    font-size: 45px;
}
.check-out-color-grey {
    font-size: 58px;
}
.check-out-color-red {
    font-size: 23px;
}
.color-grey {
    font-size: 18px;
}
.color-red {
    font-size: 21px;
}
.color-grey-visit-pass {
    font-size: 40px;
}
.color-red-monthly-pass {
    font-size: 40px;
}
.para-passes {
    font-size: 18px;
}
.btn.btn-danger.see-pricing-btn {
    font-size: 16px;
}
.r-u-gym {
    font-size: 44px;
}
.same-p-want-to {
    font-size: 25px;
}
.u-partnership {
    font-size: 30px;
}
.same-p-want-to-free {
    font-size: 25px;
}
button.btn.btn-default.learn-free-btn {
    font-size: 20px;
}
.access-fitness-heading {
    font-size: 64px;
}
.fitness-section-red {
    font-size: 25px;
}
.last-grey {
    font-size: 24px;
}
.footer ul li {
    padding: 0 6px;
}

@media(min-width: 1024px){
.right-part-black-section {
    margin-top: 595px;
}
}

/*media break points*/
@media(max-width: 1024px){
.banner-info h6 span.one {
    font-size: 85px;
}
.banner-info h6 span {
    font-size: 50px;
}
.launching-shadowbx p {
    font-size: 30px;
    margin: 30px 0;
}
.launching-logo img{
	max-width: 85%;
}
.launching-infobx p {
    font-size: 30px;
}
.howitwork-wraper {
    padding: 78px 0;
}
}

@media(max-width: 991px){
 /*   .banner-wraper {
    width: 100%;
    max-width: 100%;
}*/
.visit-pass-main-box::before {
    display: none;
}
.search-box-text::placeholder {
    font-size: 10px;
    /*color: red;*/
}
.store-signup-hm-pg {
    display: flex;
}
.text-img-wraper {
    background-image: none;
}
.footer ul li a {
    font-size: 12px;
}
.icon-hm-pg {
padding: 0 0px;
}
.custom-navbar-hm-pg li {
    font-size: 11px;
    padding: 22px 11px;
}
.custom-navbar-hm-pg {
    /* text-align: center; */
     float: none; 
     margin-right: 50px; 
}
.banner-info{
	text-align: center;
	width: 100%;
	padding-left: 40px;
	padding-right: 40px;
}
.banner-info h6 {
    margin: 150px 0 0;
}
.scrollMouse{
	display: none;
}
.left-social-spritebx{
	top: 250px;
	left: 15px;
}
.banner-info h6 span{
	display: inline-block;
	font-size: 35px;
}
.banner-info h6 span.one{
	font-size: 35px;
	display: inline-block;
	top: 0;
}
.launching-shadowbx p {
    font-size: 25px;
    margin: 20px 0;
}
.launching-infobx {
    width: 100%;
    float: left;
    padding: 120px 100px 60px;
    text-align: center;
    box-sizing: border-box;
}
.launching-soon-wraper {
    padding: 175px 0px 61px;
}
.howitwork-wraper h2 {
    font-size: 40px;
}
.tablink-contentbx p {
    font-size: 20px;
}
.launching-infobx p {
    font-size: 24px;
}
}
@media(max-width: 768px){
.visit-pass-main-box{
    width: 53%;
}
}
@media(max-width: 767px){
    .trial{
        width: 100% !important;
        float: left !important;
        margin: 40px !important;
    }
img.img-fluid.apple-store-image {
    width: 50%;
}

img.img-fluid.google-store-image {
    width: 50%;
}
    .heading-one {
    text-align: center;

}
.color-grey.heading-two{
    text-align: center;
}
h4.color-grey.heading-three{
    text-align: center;
}
.btn.btn-danger.register-now-btn {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 32px;
}
.lrn-free-btn-box {
    display: flex;
    justify-content: center;
}
    button.btn.btn-default.learn-free-btn {
    margin-bottom: 15px;
}
.access-fitness-section-image{
        display: none;
}
.img-div {
    display: none;
}
.visit-pass-main-box::before {
    display: none;
}
.monthly-pass-main-box::after {
     display: none;
}
    .store-signup-hm-pg {
    text-align: center;
    display: inline-block;
    justify-content: center;
}
    .same-p-want-to {
    margin-top: 4px;
}
/*.search-box-text::placeholder{
    font-size: 15px;
}*/
.color-red-monthly-pass {
    font-size: 30px;
}
.color-red-visit-pass {
    font-size: 30px;
}
    .custom-navbar-hm-pg {
   
    display: none;
}
.footer ul li {
    padding: 0 2px;
}

section.want-to-partner-section {
    background-image: none;
    background-color: #000;
    height: 80%;
}
.right-part-black-section {
    margin-top: 75px;
}
.r-u-gym {
    font-size: 33px;
    text-align: center;
}
.same-p-want-to {
    font-size: 21px;
    text-align: center;
}
.u-partnership {
    font-size: 25px;
    text-align: center;
}
.access-fitness-heading {
    font-size: 47px;
    text-align: center;
}
.fitness-section-red {
    font-size: 18px;
    text-align: center;
}
.last-grey {
    font-size: 20px;
    text-align: center;
}
.footer ul li a {
    font-size: 12px;
}
.check-out-color-red {
    font-size: 20px;
    text-align: center;
}
.check-out-color-grey {
    font-size: 54px;
    text-align: center;
}
.arrow-image-hm-pg {
     display: flex;
     margin: 0 auto;
    margin-top: 31px;
}
.same-p-want-to-free {
    text-align: center;
}

.custom-navbar-hm-pg{
    width: 300px;
    background-color: #031a2b;
    position: fixed;
    right: -50px;
    top: 71px;
    display:none;
}
.custom-navbar-hm-pg li {
    display: block;
    width: 100%;
    margin: 0;
    padding: 10px 15px;
     font-size: 16px;
     text-align: left;
}

.custom-navbar-hm-pg li:last-child {
    padding: 7px 18px;
    margin: 6px -1px;
}
.three-values {
    font-size: 11px;
  /*  width: 100%;*/
    max-width: 33%;
    float: right;
    margin-right: -23px;
}
.trigger-navbar-home-page {
    display: block;
    margin-top: 23px;
    margin-left: 381px;
    cursor: pointer;
}
.banner-info h6 span.one {
    font-size: 30px;
    padding: 0;
}
.banner-info h6 span {
    display: inline-block;
    font-size: 30px;
}
.left-social-spritebx {
    left: 10px;
}
button.custom-btn {
    margin: 40px 0 20px;
}
.launching-soon-wraper {
    padding: 100px 0px 60px;
}
.launching-shadowbx{
	width: 100%;
	position: static;
	max-width: 100%;
	text-align: center;
}
.launching-logo{
	float: left;
	width: 100%;
	text-align: center;
	margin: 15px 0 0 0;
}
.launching-infobx {
    padding: 0px 100px 70px;
}
.howitwork-wraper {
    display: none;
}
.howitwork-wraper.mobile-show{
	display: block;
}
.tabcontent-bx {
    width: 100%;
    float: left;
}
.tabcontent-imgbx {
    display: block;
    max-width: 100%;
    text-align: center;
}
.tablink-contentbx{
	width: 100%;
	margin:0 0 15px;
	padding:0; 
}
.tablink-contentbx p {
    padding: 0 0 0 0px;
    float: left;
    width: 100%;
    line-height: 1.4;
}
.tablink-contentbx p > b{
	color: #000;
	font-size: 22px;
	padding-right: 5px;
}
.form-popup-wraper {
    width: 300px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.successmsg-popup{
    width: 300px;
    font-size: 16px;
}
.custom-formgroup {
    margin: 0px 0 7px;
}
.form-popup-wraper h6 {
    font-size: 20px;
    margin: 10px 0;
}
.custom-formgroup input, .custom-formgroup select {
    padding: 7px 0px;
    font-size: 18px;
}
.custom-formgroup select {
    font-size: 25px;
    font-family: 'Conv_accidental-presidency.regular_0';
}
.submitbtn-bx {
    margin: 10px 0 0;
}
.privacy p, .terms_condition p{
    font-size: 16px;
}

.privacy p strong, .privacy strong{
    font-size: 18px;
}
.terms_condition p strong, .terms_condition strong{
    font-size: 18px;
}
.terms_condition ul{
    padding-left: 15px;
}
.terms_condition ul li {
    font-size: 16px;
    margin: 7px 0;
    line-height: 28px;
}
.container-fluid {
    padding: 0 15px!important;
}
.successmsg-popup {
    width: 90%;
    font-size: 16px;
    padding: 50px 15px 45px;
}
.close-btnbx{
   border-bottom: 2px solid #aaa;
   margin: 0 0 15px;
}
}

@media(max-width: 576px){
    .trial{
        width: 100% !important;
        float: left !important;
        margin: 40px !important;
    }
}
   img.img-fluid.apple-store-image {
    width: 60%;
}
img.img-fluid.google-store-image {
    width: 60%;
}
    .search-box-text {
    width: 78%;
    margin-bottom: 30px;
}
.search-box-text::placeholder {
    font-size: 11px;
}
span.search-text {
    font-size: 20px;
}
.trigger-navbar-home-page {
    margin-left: 300px;
}
.text-div {
    text-align: center;
}
.custom-navbar-hm-pg {
  /*  top: 74px;*/
  top: 71px;
}
.color-grey {
    font-size: 22px;
}
.color-red {
    font-size: 21px;
}
/*button.btn.btn-danger.register-now-btn {
    margin-left: 0px;
}*/
.check-out-color-grey {
    text-align: center;
    font-size: 44px;
}
.check-out-color-red {
    text-align: center;
    font-size: 22px;
}
img.arrow-image-hm-pg {
    text-align: right;
    float: right;
    margin: 0 auto;
    margin-top: 30px;
    /* display: flex; */
    /* justify-content: center; */
}
button.btn.btn-default.learn-free-btn {
    font-size: 16px;
    margin-top: 20px;
}
.access-fitness-heading {
    font-size: 42px;
}
.access-fitness-heading {
    font-size: 42px;
    text-align: center;
}
.fitness-section-red {
    font-size: 19px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 25px;
}
.last-grey {
    text-align: center;
}
.store-signup-hm-pg {
    margin-top: 17px;
}
.color-grey {
    font-size: 18px;
}

.color-red-monthly-pass, .color-grey-visit-pass  {
    font-size: 24px;
}
.para-passes {
    font-size: 16px;
}
.visit-pass-main-box, .monthly-pass-main-box {
    width: 64%;
}
.want-to-partner-section {
    background: none;
    background-color: #000;
}
.r-u-gym {
    font-size: 24px;
    text-align: center;
    margin-top: 7px;
}
.same-p-want-to {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}
.last-grey {
    font-size: 18px;
}
.u-partnership {
    font-size: 23px;
    text-align: center;
}
.same-p-want-to-free {
    font-size: 24px;
    /* padding-right: 126px; */
    text-align: center;
    margin-top: 8px;
}
.launching-infobx {
    padding: 0px 0px 70px;
}
.howitwork-wraper {
    padding: 30px 0;
}
.banner-info{
	padding-left: 0;
	padding-right: 0;
}
.banner-info h6 span.one {
    /*font-size: 18px;*/
    font-size: 22px;
}
.banner-info h6 span {
    /*font-size: 18px;*/
    font-size: 22px;
}
.banner-info h6 {
    margin: 95px 0 0;
}
.custom-btn {
    font-size: 18px;
}
.launching-soon-wraper {
    padding: 10px 0px 60px;
}
.howitwork-wraper h2 {
    font-size: 30px;
}
.launching-shadowbx {
    padding: 20px 20px;
}
.left-social-spritebx {
    left: 0px;
    top: 206px;
}
}
@media(max-width: 485px){
/*.banner-wraper {
    top: -138px;
}*/
.trial{
  width: 100% !important;
  float: left !important;
    margin: 40px !important;
}
.trial span.search-box h2{
    font-size: 15px !important;
    padding: 15px;
}
.access-fitness-heading {
    font-size: 39px;
}
.search-box-div {
    width: 100%;
    max-width: 74%;
    margin: 0 auto;
    margin-top: 10px;
}
/*.search-box-text {
    padding-left: 0px;
}*/
.search-box-text{
    font-size: 16px;
    font-weight: 400;
}

button.custom-btn {
    font-size: 16px;
}
.logo a:first-child {
    width: 60%;
    float: left;
}
.banner-wraper{
    padding: 60px 0 40px;
    background-position: 25% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}
.becomepatner {
    font-size: 17px!important;
}
}
@media(max-width: 400px){
 img.img-fluid.apple-store-image {
    width: 80%;
}
img.img-fluid.google-store-image {
    width: 80%;
}
}
@media(max-width: 395px){
     .search-box-text {
    width: 100%;
    padding-left: 11px;
    cursor: pointer;
    /*margin-bottom: 30px;*/
}
    .left-social-spritebx {
    top: 254px;
}
.becomepatner {
    font-size: 13px!important;
}
.trigger-navbar-home-page {
    margin-left: 253px;
}
}
