/*@media(max-width: 1293px){

.img-fluid.google-store-signup {
    width: 49%;
}
.img-fluid.google-store-signup {
    width: 50%;
}
}*/
@media(max-width: 1920px){

/*signup media starts here*/
.signup-form {
    width: 80%;
}
/*signup media ends here*/

/*subscription-plan media starts here*/
.box-one-for-bg-img {
    background-position: 50px -13px;
}
.next-part-sub {
   max-width: 64%;
}
.box-one-subscription:hover .box-one-for-bg-img {
  background-image: url(../images/red2.png);
  background-position: 50px -13px;
}
/*subscription-plan media ends here*/
.left-part-mapview-gymdetails {
    height: 977px;
}
.first-part {
    height: 100vh;
}
}

@media(max-width: 1600px){
/*subscription-plan media starts here*/
.box-one-for-bg-img {
    background-position: 19px -13px;
}
.box-one-subscription:hover .box-one-for-bg-img {
  background-image: url(../images/red2.png);
   background-position: 19px -13px;
}
.next-part-sub {
   max-width: 77%;
}
/*subscription-plan media ends here*/
.left-part-mapview-gymdetails {
    height: 800px;
}
.first-part {
    height: 100vh;
}
}

@media(max-width: 1366px){
 .box-one-for-bg-img {
    background-position: -5px -13px;
}
.box-one-subscription:hover .box-one-for-bg-img {
  /*background-image: url(../images/red2.png);*/
   background-position: -5px -13px;
}
.left-part-mapview-gymdetails {
    height: 669px;
}
.first-part {
    height: 100vh;
}
}

@media(max-width: 1300px){
/*subscription-plan page media started here */
.ab.pass-num {
    font-size: 13px;
}
/*subscription-plan page media ended here */

.current-tab a {
    padding: 0 20px;
}
.user-profile-menu-box ul li {
    padding: 56px 0px;
}
.custom-userprfilebx {
    height: 130vh;
    background-position: -143px 5px;
}
.user-profile-menu-box a {
    font-size: 20px;
}
.plan-box h5{
    font-size: 21px;
}
.purchased-payment {
    font-size: 12px;
}
.plan-box {
    padding: 68px 7px;
    display: block;
}
.learn-more a {
    font-size: 12px;
}
.user-profile-heading {
    font-size: 22px;
    margin-left: -81px; 
}
.user-profile-key {
    font-size: 14px;
}
.user-profile-value {
    font-size: 16px;
    line-height: 31px;
}
/*forgot-pass page media started here*/
.forgot-pass-heading{
    font-size: 55px;
}
/*forgot-pass page media ended here*/

/*three-pages page media started here*/
.three-label{
    font-size: 19px;
}
/*three-pages page media ended here*/
}
@media(max-width: 1292px){
.stores-icon {
    margin-top: -268px;
    text-align: center;
}
}
@media(max-width: 1281px){
.image {
    width: 9%;
    text-align: right;
    float: right;
}
.for-padding-contact {
    margin-top: 82px;
    padding-top: 19px;
}
/*subscription-plan page media started here*/
.link-venues a {
    font-size: 11px;
}
.for-margin-membership {
    margin-top: 79px;
}
/*subscription-plan page media ended here*/

/*card page media started here*/
.popup-paymentaa::after {
    margin: -127px 0px 71px 103px;
}
.popup-paymentaa-second::after {
    margin: -127px 0px 71px 103px;
}
/*card page media ended here*/

/*three-pages page media started here*/
.amt-subscription-billing {
    padding: 14px 30px;
}
.three-label {
    width: 100%;
    max-width: 45%;
}
.select-box-paym {
    max-width: 48%;
    font-size: 16px;
}
.list-paym-hist-page {
    width: 37%;
    font-size: 17px;
}
.three-user-profile-menu-box a {
    font-size: 20px;
}
.purchased-payment-billing {
    font-size: 16px;
}
.date-caption-box, .time-caption-box {
    padding: 13px;
}
/*three-pages page media ended here*/



/*map-coll page media started here*/
.first-part {
    height: 100vh;
   /* overflow: auto;*/
}
/*map-coll page media ended here*/
}
@media(max-width: 1232px){
 .custom-navbar-three li {
    font-size: 22px;
}
.popup-paymentaa-second {
    
    margin-top: 82px;
}
    .otp-left-part {
    width: 55%;
}
 .otp-right-part {
    width: 45%;
}

/*three-pages page media started here*/
.purchased-payment-billing {
    font-size: 15px;
}
.date-caption-box, .time-caption-box {
    font-size: 17px;
    padding: 13px;
}
/*three-pages page media ended here*/
}
@media(max-width: 1200px){
 .address-box p {
    font-size: 12px;
}
   .three-user-profile-part-twoo {
    padding-left: 50px;
}
.three-user-profile-part-twoo {
    width: 53%;
}
    .p-collapse-page {
    font-size: 17px;
}
.para-collaps-page {
    font-size: 13px;
}
.showgym_data {
    font-size: 13px;
}
    input#searchdata {
    font-size: 16px;
}
    .row.expiration-box {
    margin-right: 0px;
}
.amt-subscription-billing-checkins {
    font-size: 21px;
}
.new-cardd {
    font-size: 16px;
}
.popup-paymentaa-second.home-ch-pas {
   
    margin-top: 77px;
}
/*modal  media started here*/
.modal-content.content-of-modal-custom {
     margin: 210px 0 0 -116px;
     float: left;
}
/*modal media ended here*/

/*subscription-plandetails page media started here*/
.same-h4-sub-plan {
    font-size: 24px;
}
.payable-value-sub-plan {
    font-size: 14px;
}
.list-sub-plan {
    font-size: 14px;
}
.list-icon-sub-plan::after {
    font-size: 27px;
    margin-top: -31px;
}
.btn.btn-danger.purchase-plan-btn {
    font-size: 26px;
}
/*subscription-plandetails page media ended here*/

 /*mapview2 page media started here*/
/*.scc {
    height: auto;
}*/
/*mapview2 page media ended here*/

 /*mapview3 page media started here*/
 .section-map-coll-gymdet {
    height: 100vh;
    overflow: auto;
 }
 .left-part-mapview-gymdetails{
    margin-top: 42px;
    height: 100vh;
    overflow: auto;
 }
.closebtn.cross2 {
    left: 326px;
}
#myModal {
    background: black;
}
.for-info {
    font-size: 14px;
}
.four-a {
    font-size: 21px;
}
.four-a-stmt {
    font-size: 14px;
    padding: 15px 20px 25px 25px;
}

.days {
    font-size: 18px;
}
.schedule {
    width: 100%;
    max-width: 78%;
    margin: 0 auto;
    padding: 29px 14px 25px 6px;
}
.time-box {
    padding: 0px 0px;
}
.time {
    font-size: 10px;
    padding: 0px 0px;
}
.days {
    font-size: 15px;
}
.scc{
    background-position: -28px 77px;
}
.modal-content{
    width: 700px;
   float: right;
   margin:0 auto;
  /*  margin-right: 136px;*/
}
 /*mapview3 page media ended here*/

/*subscription page media started here*/
.saver-sub {
    margin-top: -140px;
   font-size: 18px;
}
.access-to {
    font-size: 12px;
    padding: 0px;
}
.ufp-partner {
    font-size: 12px;
}
.link-venues a {
    font-size: 10px;
}
/*.link-venues{
    padding: 0px;
    margin-top: 16px;
}*/
.white-section h4 {
    font-size: 11px;
}
.link-venues {
    padding: 34px 5px;
    margin-top: 16px;
}
p.ab.pass-num {
    font-size: 10px;
}
.ab.pass-value {
    font-size: 12px;
    margin-right: 1px;
    padding: 0px 0px;
}
.btn.btn-danger.subc-btn {
    margin-top: 0px;
    padding: 7px 13px;
    font-size: 12px;
}
.no-of-visits {
    font-size: 10px;
}
.twenty{
    font-size: 16px;
}
/*subscription media ended here*/

/*payment-history media started here*/
.pay-hist-section {
     height: 100vh;
     overflow: auto;
}
.pay-hist-menu-box a {
    text-decoration: none;
    color: #9c9c9c;
    font-size: 28px;
}
.key-paym {
    font-size: 20px;
}
.value-paym {
        font-size: 17px;
        width: 100%;
        max-width: 100%;
}
.value-box-paym {
    padding: 0px 0px;
}
/*payment-history media ended here*/


/*three-pages media started here*/
.three-values {
    max-width: 50%;
    margin-left: -144px;
}
.right-box-for-scroll-billing-history {
    height: 340px;
}
.right-box-for-scroll {
    height: 340px;
}
.list-three-pages.bord {
    max-width: 27%;
    padding: 3px;
    font-size: 11px;
}
 .billing-history-wrapper {
    display: block;
    padding: 20px 18px 0 0px;
    background-position: 113% -25px;
}
.billing-history-box h2 {
    margin-top: -11px;
    margin-bottom: 0;
}
.checkin-wrapper h2 {
    font-size: 21px;
    margin-top: -41px;
}
.address-checkin {
    font-size: 16px;
}
.get-direction {
    padding: 21px 49px;
    margin-top: -23px;
}
.amt-subscription-billing {
    padding: 0px 24px;
    font-size: 17px;
}
.purchased-payment-billing {
    font-size: 15px;
    padding: 11px;
}
.purchased-payment-date-billing {
    padding: 0 0;
    font-size: 13px;
}
.checkin-wrapper{
    margin-top: 0px;
}
.date-caption-box, .time-caption-box {
    font-size: 16px;
}
.date-time-box {
    max-width: 93%;
}

.custom-navbar-three li {
   padding: 24px 12px;
    font-size: 19px;
}
.custom-navbar-three ul li a:hover {
    border-bottom: none;
}
.custom-navbar-three li:last-child {
    margin-right: -1px;
}
.three-user-profile-menu-box .nav>li>a{ 
    padding: 9px 11px;
    font-size:17px;
}
.amt-subscription {
    font-size: 14px;
}
.value-subscription {
    font-size: 14px;
}
.purchased-box {
    padding: 5px 3px;
    margin: 22px 23px;
}
.purchased-payment {
    font-size: 15px;
}
.learn-more a {
    font-size: 12px;
    padding: 7px;
}
.plan-box {
    padding: 0 0;
    height: 309px;
    margin-top: 97px;
}
.three-for-bg{
   background-position:-51px -98px;
}
.three-main-heading {
    font-size:20px;
    margin-left: 0px;
}
.three-values {
    font-size: 11px;
}
.three-label {
    width: 100%;
    max-width: 47%;
    font-size: 11px;
    padding: 4px 0px;
}
.three-left-form {
    text-align: center;
    margin-left: 0px;
    margin-bottom: 20px;
}
.three-two-btns {
   margin-left: 114px; 
}
.btn.btn-danger.three-change-password , .btn.btn-danger.three-cancel , .btn.btn-danger.three-edit-profile{
    font-size:12px;
}
.btn.btn-danger.three-eit-profile {
    font-size:12px;
}
.first-part{
    margin-left: -16px;
    height: 100vh;
    overflow: auto;
}
.box-one, .box-two {
    margin: 24px;
}
/*three-pages page media ended here*/
 /*three-pages media ended here*/

/*some-pages-header media started here*/
.custom-navbar li {
    padding: 24px 12px;
    font-size: 19px;
}
.custom-navbar li:last-child {
    margin-right: -1px;
}
/*some-pages-header media ended here*/

.custom-navbar-mapview-collapse li {
    display: inline-block;
    padding: 23px 12px;
    font-size: 15px;
    font-weight: 700;
}
.trigger-mapview{
    display: none;
}

/*booking-details page media started here*/
.custom-navbar-book-det li {
    padding: 24px 12px;
    font-size: 19px;
}
.custom-navbar-book-det li:last-child {
    margin-right: -1px;
}
.custom-navbar-map-coll-page li {
    padding: 24px 12px;
    font-size: 19px;
}
.custom-navbar-map-coll-page li:last-child {
    margin-right: -1px;
}
.span-icon {
    font-size: 30px;
    padding: 0px 0px;
}

.part-second-value h2 {
    font-size: 18px;
    padding: 10px 221px;
}
.same-h4 {
   font-size: 21px;
}
.booking-details-box1 {
    width: 60%;
}
.payable-stmt {
    font-size: 21px;
}
.second-box {
    width: 60%;
}
.pay-btn-box {
    width: 60%;
}
input.payable-value.one-fifty {
    padding: 0px 37px;
}
/*booking-details page media ended here*/

/*card page media started here*/
.main-part {
    margin-top: 153px;
}
.three-values-card {
    font-size: 15px;
}
.list{
    margin-right: -12px;
}
.card-second-value input[type="text"] {
    font-size: 19px;
}
.same-h4-card {
    font-size: 19px;
}
.make-payment-btn {
    padding: 6px 57px;
    font-size: 25px;
}
.cards-list {
    position: relative;
    right: 44px;
    width: 100%;
    max-width: 80%;
}
.fa.down-icon {
    font-size: 35px;
    color: grey;
}
.placeholder-clr-card::placeholder{
    font-size: 15px;
}
.popup-paymentaa::after {
    margin: -117px 0px 74px 43px;
}
.popup-paymentaa {
    right: 8px;
}
.logout-paymentaa a {
    font-size: 15px;
    padding: 14px 0 14px 24px;
}
.profile-paymentaa a {
    font-size: 15px;
}
.popup-paymentaa-second::after {
    margin: -111px 0px 60px 45px;
}
.popup-paymentaa-second {
    right: 8px;
}
.logout-paymentaa-second a {
    font-size: 15px;
    padding: 14px 0 14px 24px;
}
.profile-paymentaa-second a {
    font-size: 15px;
}
/*card page media ended here*/

/*forgot-pass page media started here*/
.forgot-pass-heading {
    font-size: 31px;
}
.forgot-pass-right-part {
    background-position: 29px 68px;
}
.btn.btn-danger.forgot-pass-next-btn {
    padding: 1px 55px;
    float: right;
}
/*forgot-pass page media ended here*/

/*otp page media started here*/
.otp-heading {
    font-size: 48px;
    margin-bottom: 35px;
}
.otp-form {
    width: 24%;
}
.otp-left-part{
    width: 50%;
}
.otp-right-part{
    width: 50%;
    background-position: 126px 72px;
}
.otp-form {
    width: 19%;
    padding: 24px 0px;
}
.otp-labels{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.otp-wrapper {
    text-align: center;
}
.btn.btn-danger.otp-verify-btn {
    margin-top: 100px;
    margin-bottom: 44px;
}
/*.img-fluid.signup-left-img {
    height: 111vh;
}*/
.otp-last-line {
    margin-top: -19px;
}
.kettles-box {
    text-align: center;
}
/*otp page media ended here*/

/*newpass page media started here*/
.newpass-right-part {
    background-position: 38px 46px;
}
.newpass-heading {
    font-size: 26px;
    margin-top: 60px;
    margin-bottom: 10px;
}
.newpass-labels {
    font-size: 12px;
}
.newpass-form{
    width: 95%;
}
.show-hide-para-newpass {
    top: 7px;
    right: 7px;
}
.newpass-btn-box {
    padding: 0px 0px;
}
.btn.btn-danger.newpass-login-btn {
    padding: 0px 48px;
    margin-top: 29px;
}
/*newpass page media ended here*/

/*signup page media started here*/
.signup-checkbx {
    margin-top: 5px;
    padding: 9px 16px;
}
.stores-icon {
    margin-top: -261px;
    text-align: center;
}
.signup-right-part {
    width: 70%;
}
.signup-left-part {
    width: 30%;
}
.signup-form{
        width: 85%;
}
.signup-form::-webkit-placeholder{
    font-size: 17px;
}
.signup-form::-moz-placeholder{
    font-size: 17px;
}
.signup-form::placeholder{
    font-size: 17px;
}
.sign-up-heading {
    font-size: 56px;
}
.checkmark {
    top: 55px;
}
.signup-labels {
    font-size: 13px;
}
.show-hide-para-signup {
    top: 17px;
    right: 41px;
}
.tnc h4 {
    font-size: 23px;
}
/*signup page media ended here*/

/*login page media started here*/
.show-hide-para-login {
    top: 16px;
    right: 44px;
    font-size: 13px;
}
.login-right-part{
    background-position: 31px 47px;
}
.show-hide-para-newpass {
    top: 22px;
    right: 8px;
}
.forgot-password-btnn {
    font-size: 13px;
}
.login-stores-icon {
    margin-top: -107px;
    padding: 0px 0px;
}
/*login page media ended here*/

/*contact page media started here*/
.value.value-second.address-textarea {
    font-size: 15px;
}
.key{
    font-size: 15px;
}
.value{
    font-size: 15px;
}
.contact-main-heading {
    font-size: 32px;
}
.send-query-btn {
    padding: 8px 52px;
    font-size: 22px;
}
.main-wrapper{
    height: 100vh;
    overflow: auto;
}
/*contact page media ended here*/

/*thtree-pages page media started here*/
/*.custom-navbar-three li {
   padding: 24px 12px;
    font-size: 19px;
}*/
.custom-navbar-three li {
    padding: 24px 9px;
    font-size: 17px;
}
.custom-navbar-three li:last-child {
    margin-right: -1px;
}
.three-user-profile-menu-box .nav>li>a{ 
    padding: 9px 11px;
    font-size:17px;
}
.amt-subscription {
    font-size: 14px;
}
.value-subscription {
    font-size: 14px;
}
.purchased-box {
    padding: 5px 3px;
    margin: 22px 23px;
}
.purchased-payment {
    font-size: 15px;
}
.learn-more a {
    font-size: 12px;
    padding: 7px;
}
.plan-box {
    padding: 0 0;
    height: 309px;
    margin-top: 97px;
}
.three-for-bg{
   background-position:-84px -98px;
}
.three-main-heading {
    font-size:20px;
    margin-left: -177px;
}
.three-values {
    font-size: 11px;
}
.three-label {
    width: 100%;
    max-width: 47%;
    font-size: 11px;
}
.three-left-form {
    text-align: center;
    margin-left: 0px;
    margin-bottom: 20px;
}
.three-two-btns {
   margin-left: 55px; 
}
.btn.btn-danger.three-change-password , .btn.btn-danger.three-cancel , .btn.btn-danger.three-edit-profile{
    font-size:12px;
}
.btn.btn-danger.three-eit-profile {
    font-size:12px;
}
.first-part{
    margin-left: -16px;
    height: 100vh;
    overflow: auto;
}
.box-one, .box-two {
    margin: 24px;
}
/*three-pages page media ended here*/

/*change-password page media started here*/
.change-password-wrapper {

    height: 100vh;
    overflow: auto;
}
.password-heading {
    font-size: 20px;
}
input.placeholder-clr::placeholder {
    font-size: 20px;
}
.btn.btn-danger.change-password-save-btn {
    padding: 1px 85px;
    font-size: 27px;
    margin-top: 12px;
    margin-bottom: 30px;
}
/*change-password page media ended here*/
}
@media(max-width: 1108px){
#slider2::after {
    padding: 0px 16px;
}
.owl-next{
    top: -6%;
}
}
@media(max-width: 1100px){
.box-one-for-bg-img {
    background-position: -22px -13px;
}
.box-one-subscription:hover .box-one-for-bg-img {
  background-image: url(../images/red2.png);
   background-position: -22px -13px;
}
}
@media(max-width: 992px){
    .address-box p {
    font-size: 10px;
}

/*strong {
    font-size: 17px;
}*/
 /*subscription-plandetails page media started here*/
 /*.popup-paymentaa-second {
    right: 27px;
}*/
.box-one-for-bg-img.pink.pink-new {
    background-position: -16px 7px;
}
.three-main-heading {
  
    margin-left: -100px;
}
.p-collapse-page {
    font-size: 14px;
}
.para-collaps-page {
    font-size: 12px;
}
.showgym_data {
    font-size: 11px;
    padding: 1px 0px;
}
.popup-box-heading {
    font-size: 29px;
}
.checkin-wrapper-cardd {
    width: 100%;
    max-width: 97%;
}
.amt-subscription-billing-checkins {
    font-size: 16px;
    padding: 14px 53px;
}
.list-icon-sub-plan-checkins-weekly::after {
	font-size: 28px;
    margin-top: -79px;
 }
 .list-icon-sub-plan-checkins-select-gym::after {
 font-size: 28px;
 margin-top:-55px;
}
.list-sub-plan-checkins-select-gym {
    font-size: 14px;

}
.list-sub-plan-checkins-weekly {
    font-size: 14px;
}
.checkin-para {
    font-size: 14px;
}
.new-cardd {
    font-size: 13px;
}
.box-one-subscription:hover .box-one-for-bg-img {
 /* background-image: url(../images/red2.png);*/
   background-position: 9px 7px;
}
.same-h4-sub-plan {
    font-size: 17px;
}
.payable-value-sub-plan {
    font-size: 10px;
}
.list-sub-plan {
    font-size: 10px;
}
.msg-box-sub-plan textarea {
    font-size: 13px;
}
.btn.btn-danger.purchase-plan-btn {
    font-size: 20px;
}
/*subscription-plan-details page media ended here*/

/*subscription page media started here*/
.box-one-subscription {
    width: 29%;
     margin-top: 141px;
}
.white-section h4 {
    font-size: 13px;
}
.subsciption-section {
    height: auto;
}
.box-one-for-bg-img {
    background-position: 9px -13px;
}
.box-one-for-bg-img {
    background-position: 9px 7px;
}
.box-one-for-bg-img:hover {
    background-position: 9px 7px;
}
/*.box-one-for-bg-img:hover{
     background-position: 9px 7px;
}*/
/*subscription-page page media ended here*/

/* three-pages page media started here*/
.three-user-profile-menu-box .nav>li>a {
    padding: 9px 11px;
    font-size: 12px;
}
.checkin-wrapper-fourth-tab {
    padding: 13px 31px;
}
.fourth-tab {
    font-size: 16px;
}
.form-control.fourth-tab-input-box {
    font-size: 15px;
}
.date-time-box {
    margin-top: 0px
}
.select-box-paym {
    font-size: 10px;
}
.list-paym-hist-page {
    font-size: 14px;
}
.four-rows-paym {
    height: 300px;
}
.list-three-pages.bord {
    width: 100%;
    max-width: 31%;
}
.three-values {
    font-size: 12px;
    width: 50%;
    /*margin-left: 114px;*/
}
/*.three-label {
    width: 100%;
    max-width: 47%;
    font-size: 11px;
}*/
.three-label {
    width: 100%;
    max-width: 64%;
    font-size: 11px;
   /* background-color: red;*/
}
.btn.btn-danger.three-edit-profile {
    font-size: 11px;
}
.btn.btn-danger.three-change-password {
    font-size: 11px;
}
.billing-history-wrapper {
   background-position:  130% -29px;
}
.three-for-bg {
    background-position: -107px -98px;
}
/*.three-for-bg {
    background-position: -154px -98px;
}*/
/*.custom-navbar-three li {
    padding: 26px 7px;
    font-size: 14px;
}*/
.custom-navbar-three li {
    padding: 26px 4px;
    font-size: 14px;
}
.right-box-for-scroll-billing-history {
    margin-top: -13px;
}
.amt-subscription-billing {
    padding: 0px 7px;
    font-size: 17px;
}
.purchased-payment-billing {
    font-size: 12px;
    padding: 5px;
}
.purchased-payment-date-billing {
    padding: 0 0;
    font-size: 13px;
}
.purchased-box-billing {
    padding: 0 0;
}
.billing-history-wrapper {
    padding: 19px 7px 0 0px;
}
.billing-history-box h2 {
    margin-top: -7px;
}
.get-direction {
    padding: 21px 37px;
    margin-top: -43px;
}
.custom-form-key-value {
    margin: 0 auto;
    width: 100%;
  /*  margin-right: -25px;*/
    max-width: 96%;
}
.date-time-box {
    padding: 1px 82px;
}
.date-value-box, .time-value-box {
    font-size: 15px;
}
.date-caption-box, .time-caption-box {
    font-size: 13px;
}
/*three-pages page media ended here*/

/*header page media started here*/
.custom-navbar li {
    padding: 26px 7px;
    font-size: 14px;
}
/*header page media ended here*/

/*booking-details page media started here*/
.pol-tag {
    margin-top: -1px;
}
.logo-ufp{
    width: 100%;
    max-width: 73%;
    margin-top: 11px;
}
.custom-navbar-book-det li {
    padding: 26px 7px;
    font-size: 14px;
}
.span-icon {
    font-size: 25px;
    padding: 0px 0px;
}
.payable-value{
    font-size: 15px;
    padding: 10px 35px;
}
.image {
    width: 100%;
    max-width: 9%;
}
.same-h4 {
    font-size: 13px;
}
.part-second-value h2 {
    font-size: 16px;
    padding: 9px 141px;
}
.payable-stmt {
    font-size: 16px;
}
.booking-details-box2 h3 {
    font-size: 22px;
}
.enter-code-box {
    font-size: 23px;
}
.btn.btn-danger.pay-btn {
    padding: 6px 56px;
    font-size: 25px;
}
input.payable-value.one-fifty {
    padding: 0px 30px;
}
/*booking-details page media ended here*/

/*mapview page media starts here*/

.closebtn.cross2 {
    left: 226px;
}
.modal-content{
    width: 600px;
}
.first-part {
    margin-left: -15px;
    margin-top: 95px;
}
.scc{
    background-position: -28px 39px;
}
.custom-navbar-map-coll-page li {
    display: inline-block;
    padding: 20px 9px;
    font-size: 15px;
    font-weight: 700;
}
.popup-mapview {
    top: 57px;
    right: 75px;
}
.left-part h2 {
    font-size: 19px;
}
.left-part p {
    font-size: 12px;
}
.image-man img {
    margin-top: -24px;
    height: 82px;
    margin-left: -24px;
}
.trigger-mapview{
    display: none;
}
/*mapview page media ends here*/

/*card page media starts here*/
.same-h4-card {
    font-size: 10px;
    margin-top: 11px;
}
.card-second-value input[type="text"] {
    font-size: 12px;
}
.make-payment-btn {
    padding: 6px 48px;
    font-size: 25px;
}
/*.fa.down-icon {
    font-size: 25px;
    top: 8px;
     padding: 12px 0px;
}*/
/*card page media ends here*/

/*change-password media starts here*/
.password-heading {
    font-size: 25px;
}
.main-part input[type="text"] {
    font-size: 20px;
}
.btn.btn-danger.change-password-save-btn {
    padding: 0px 94px;
    font-size: 30px;
}
.show-hide-para-newpass {
    color: #e06473;
}
/*change-password page media ends here*/

/*forgot-pass page media starts here*/
.forgot-pass-btn-box {
    padding: 0px 0px;
}
.forgot-pass-labels {
    font-size: 9px;
    font-weight: 700;
}
.forgot-pass-form {
    width: 100%;
}
.forgot-pass-right-part {
    padding: 1px 41px;
}
.signup-left-img {
    max-width: 100%;
   /* height: 100vh;*/
}
/*forgot-pass page media ends here*/

/*otp page media starts here*/
.otp-labels{
    margin-bottom: 70px;
}
.kettles-box {
    margin-top: 58px;
    padding: 32px 60px;
}
.otp-left-part {
    width: 41%;
}
.otp-right-part {
    width: 59%;
}
.otp-heading {
    margin-top: 77px;
    padding-right: 0px;
}
.otp-labels {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 0px;
}
.otp-last-line {
    font-size: 13px;
}
.btn.btn-danger.otp-verify-btn {
    margin-top: 100px;
    margin-bottom: 30px;
}
.otp-wrapper {
    text-align: center;
    margin-top: 65px;
}
/*otp page media ends here*/

/*login page media starts here*/
section.login-right-part {
    background-position: 16px 44px;
}

.newpass-labels {
    font-size: 11px;
}
.login-form{
    width: 100%;
}
.login-form::placeholder{
    font-size: 18px;
}
.show-hide-para-login {
    top: 23px;
    right: -3px;
    font-size: 11px;
    color: #e06473;
}
.btn.btn-danger.a-login-btn {
    font-size: 10px;
}
.btn.btn-danger.login-create-acc-btn {
   font-size: 10px;
}
.img-fluid.apple-store-image {
    width: 100%;
    max-width: 40%;
}
.img-fluid.google-store-image {
    width: 100%;
    max-width: 40%;
}
.forgot-password-btnn {
    padding: 13px 0px;
}
/*login page media ends here*/

/*user-profile-current-plan page media starts here*/
.user-profile-menu-box a {
    font-size: 13px;
}
.user-profile-heading {
    font-size: 20px;
    margin-left: -40px;
}
.key-value-pair {
    padding: 0px 105px;
}
.user-profile-key {
    font-size: 14px;
    padding: 0px 10px;
    line-height: 40px;
}
.user-profile-value {
    font-size: 15px;
    line-height: 19px;
    padding: 5px 0px;
}
.custom-userprfilebx {
    background-position: -225px -5px;
}
.btn.btn-primary.user-profile-btn {
    font-size: 11px;
    max-width: 36%;
    margin-left: 0px;
    margin: 0 auto;
    margin-bottom: 18px;
    margin-right: 124px;
}
.plan-box h5 {
    font-size: 15px;
}
.purchased-box {
    padding: 9px 3px;
    /*width: 100%;*/
    max-width: 87%;
}
.learn-more a {
    font-size: 15px;
    padding: 10px;
}
.subscription {
    font-size: 15px;
    padding: 18px;
}
.payment-box{
    max-width: 87%;
}
/*user-profile-current-plan page media ends here*/
/*contact page media started here*/
.right-side-form {
    padding-right: 5px;
}
.key.key-right {
    padding: 0 8px;
}
.value.value-second.address-textarea {
    padding: 17px 0px;
    font-size: 15px;
}
/*contact page media ended here*/

/*newpass page media started here*/
.newpass-right-part{
    background-position: 5px 44px;
}
/*newpass page media ended here*/

/*signup page media started here*/
.signup-right-part {
    background-position: 162px 129px;
}
.show-hide-para-signup {
    top: 19px;
    right: 35px;
    color: #e06473;
}
/*signup page media ended here*/

/*payment-history page media started here*/
.image-pay-hist {
    margin-left: -27px;
}
#slider2 .owl-stage-outer {
    width: 100%;
    max-width: 90%;
}
.custom-navbar-pay-hist li {
    display: inline-block;
    font-size: 19px;
    font-weight: 600;
    margin: 25px 0px;
    padding: 0px 12px;
}
.custom-navbar-pay-map-coll-page li {
    display: inline-block;
    font-size: 19px;
    font-weight: 600;
    margin: 25px 0px;
    padding: 0px 12px;
}
.popup-payment {
    max-width: 14%;
    right: 25px;
}
.value-paym {
    width: 100%;
    max-width: 79%;
}
.key-paym {
    font-size: 15px;
}
.value-paym {
    font-size: 15px;
}
/*main-box-bank-det {
    width: 100%;
    max-width: 89%;
}*/
.owl-next {
    height: 89px;
}
#slider2::after {
    padding: 27px 16px;
}
.earnings-heading h5 {
    font-size: 20px;
}
.cus-details-paym {
    font-size: 15px;
}
.row-fst-paym {
    max-width: 638px;
}
.row-one-details {
    font-size: 18px;
}
.list{
    font-size: 12px;
    margin-right: -33px;
}
.card-second-value {
    padding: 16px 35px 26px 19px;
    line-height: 52px;
}
.placeholder-clr-card::placeholder{
    font-size: 13px;
}
.three-values-card{
    font-size: 13px;
    max-width: 27%;
}
.fa.down-icon {
    font-size: 23px;
    top: 24px;
    right: -11px;
}
/*payment-history page media ended here*/
.row-fst {
    height: 286px;
}
}
@media(max-width: 900px){
.box-one-for-bg-img {
    background-position: -2px 7px;
}
}
@media(max-width: 923px){
.get-direction a {
    margin-top: -22px;
}
.date-time-box {
    margin-top: 20px;
}
}
/*mapview page media ends here*/
@media(max-width: 880px){
    /*contact page media started here*/
.value::placeholder{
        padding: 0px 31px;
    }
/*contact page media ended here*/

/*payment-hostory page media started here*/
.popup-payment {
    max-width: 17%;
    right: 11px;
}
/*payment-hostory page media ended here*/

/*mapview-collapse page media started here*/
/*.first-part {
    margin-left: -163px;
}*/
/*mapview-collapse page media ended here*/

/*three-pages page media started here*/
.date-time-box {
    padding: 1px 58px;
}
/*three-pages page media ended here*/
}

@media(max-width: 793px){
/*otp page media starts here*/
.otp-left-part{
    width: 39%;
}
.otp-right-part{
    width: 61%;
}

/*otp page media ends here*/
}
@media(max-width: 800px){
.img-fluid.img-fluid-gym {
    max-width: 73%;
}
}
@media(max-width: 767px){
     .img-fluid.img-fluid-gym {
    max-width: 24%;
}
}

@media(max-width: 768px){
   /* .img-fluid.img-fluid-gym {
    max-width: 24%;
   
}*/
    .address-box p {
    font-size: 14px;
}
    .three-user-profile-part-twoo {
    width: 100%;
    padding: 6px 37px;
}
.three-user-profile-part2-collapsee {
    margin-top: 20px;
}
div#demo-collapsee-page3 {
    width: 76%;
    margin: 0 auto;
}
     input#searchdata {
    font-size: 13px;
}
    .custom-navbar-pay-hist ul li a:hover {
    border-bottom: none;
}
    .msg-box textarea {
   font-size: 13px;
}
    input.value::placeholder {
    padding: 0px 0px;
}
.form-control.fourth-tab-input-box-cardd {
    width: 100%;
}
.btn.btn-danger.a-login-btn:hover{
  margin-right: 0px;
    
}
input#credit-card{
    width: 100%;
}
.btn.btn-danger.a-login-btn{
  margin-right: 0px;
    
}
	.amt-subscription-billing-checkins {
    font-size: 12px;
  
}
.billing-history-wrapper-checkins {
    padding: 0 25px 0 0;
 }
#bydate {
    margin: 0 auto;
    font-size: 12px;
}
.four-buttons-checkins {
    padding: 8px 10px;
}
.key-value-div-sub-plan.value-sub-plan-checkins.list-icon-sub-plan-checkins-select-gym.common{
	margin-left: 0px;
}

/*mapview-collapse check-in btn media starts here*/
.btn.btn-danger.send-query-btn-custome {
    padding: 10px 90px;
    font-size: 22px;
}
/*mapview-collapse check-in btn media ends here*/

/*subscription-plandetails page media starts here*/
.btn.btn-danger.three-cancel , .btn.btn-danger.three-update , .btn.btn-danger.three-edit-profile {
    margin-bottom: 18px;
}
.three-two-btns{
    margin-top: 36px;
}
.box-one-subscription {
    margin-top: 146px;
    margin-bottom: 0px;
}
.list-icon-sub-plan::after {
    font-size: 23px;
    margin-top: -28px;
}
.sub-plan-details-box1 {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 110px;
}
.value-sub-plan {
    max-width: 23%;
}
.first-wrapper {
    padding: 14px 28px 0 28px;
}
.same-h4-sub-plan {
    font-size: 15px;
}
.value-sub-plan {
    max-width: 49%;
}
.btn.btn-danger.purchase-plan-btn {
    font-size: 19px;
    padding: 11px 28px;
}
/*subscription-plandetails page media ends here*/

/*mapview-collpase page media starts here*/
.cross-fit h5 {
    margin-top: 74px;
}
.modal-content {
    width: 500px;
}
.left-part h3 {
    font-size: 14px;
}
.search-container {
    padding:  0 0;
}
.closebtn.cross2 {
    left: 126px;
}
/*.modal-content {
  margin-right: 10px;
}
.list-view {
    width: 129px;
    height: 46px;
    padding: 3px 0px;
}
.btn-list-view {
    font-size: 14px;
}
.search-container input {
    width: 70%;
}
.four-a-stmt {
    padding: 6px 15px 99px 29px;
}
.search-container {
    margin: 0 auto;
    padding: 0px 0px;
    background-position: 590px -22px;
    margin-top: 66px;
}
.view-det a {
    font-size: 14px;
}
.first-part {
    margin-top: 57px;
    width: 762px;
}
.time{
    box-shadow: none;
}
.schedule {
    margin: 20px 16px;
}
.days {
    font-size: 13px;
}
.range-labels {
    padding: 23px 181px;
}
.range {
    margin: 0 auto;
    margin-top: 37px;
}*/
/*mapview-collapse page media ends here*/


/*subscription page media starts here*/
.box-one-for-bg-img {
    width: 100%;
    max-width: 86%;
    background-image: none;
    background-color: #212121;
    text-align: center;
    margin: 0 auto;
    border-radius: 15px;
}
.blue {
    background-color: #0072bc;
}
.green{
    background-color: #00a651;
}
.orange{
    background-color: #ff4200;
}
.yellow{
    background-color: #ff9000;
}
.pink{
    background-color: #be0027;
}
.box-one-subscription {
    width: 49%;
}
.box-one-subscription:hover  .box-one-for-bg-img{
    background-image: none;
    background-color: #be0027;
}
.saver-sub {
    margin-top: -159px;
    font-size: 15px;
    margin-bottom: 18px;
}
.access-to {
    font-size: 11px;
    }
 .ufp-partner {
    font-size: 11px;
}
.link-venues a {
    font-size: 7px;
}

.link-venues {
    margin-top: 28px;
    max-width: 62%;
    padding-bottom: 30px;
}
.white-section h4 {
    font-size: 13px;
    margin-top: 76px;
}
.ab.pass-num {
    font-size: 10px;
}
.btn.btn-danger.subc-btn {
    margin-top: -3px;
    padding: 14px 15px;
    font-size: 12px;
}
.for-partition {
    margin-top: 18px;
    line-height: 24px;
}
.twenty {
    font-size: 15px;
}
/*subscription page media ends here*/

.custom-navbar-pay-hist{
        display: none;
}
.custom-navbar-map-coll-page{
        display: none;
}
/*.pay-hist-section {

    height: auto;
}*/
.pay-hist-menu-box{
    margin-top: 82px;
    padding: 27px 5px;
}
.pay-hist-menu-box a{
    font-size: 20px;
    padding: 0 10px;
}
.main-box-bank-det {
    margin-top: -6px;
    /* padding: 16px 13px; */
    /* line-height: 43px; */
}
.box-one-paym {
    width: 100%;}
/*three-pages page media starts here*/
.get-direction a {
     margin-top: 0px; 
}
.select-box-wrapper {
    max-width: 59%;
}
.select-box-paym {
    font-size: 15px;
    padding:  0 0;
}

/*.custom-form-key-value {
    margin-left: 78px;
}*/
/*.custom-form-key-value {
    margin-right: 0px;
}*/
.list-three-pages.three-label.bord {
    width: 100%;
    max-width: 32%;
 }
.billing-history-wrapper {
    background-position: 111% -25px;
}
.switch{
    width: 40px;
    height: 24px;

}
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(16px);
}

.three-user-profile-part1 {
    width: 100%;
    background-image: none;
}
.three-for-bg{
    background-image: none;
}
.three-user-profile-part2 {
     width: 100%;
     margin-top: -24px;
}
.three-user-profile-wrapper {
    width: 100%;
    height: 150vh;
}
.billing-history-box h2 {
    font-size: 15px;
    margin-top: -34px;
    margin-bottom: 0px;
}
.amt-subscription-billing {
    font-size:16px;
    }
    .purchased-box-billing {
    margin-top: 10px;
    padding: 0 0;
}
.amt-subscription {
    font-size: 11px;
    /* padding: 21px 22px; */
    padding: 0px 9px 0px 22px;
}
.purchased-payment {
    font-size: 13px;
    padding: 0px 10px;
}
.purchased-payment-date {
    font-size: 13px;
}
.purchased-box {
    padding: 8px 9px;
}
.value-subscription {
    font-size: 13px;
}
.billing-history-wrapper {
    display: block;
    padding: 42px 18px 0px 0px;
}
.three-user-profile-menu-box .nav>li>a {
    padding: 0px 6px;
    font-size: 13px;
    margin-top: -5px;
}
.plan-box h5 {
    font-size: 13px;
}
.three-main-heading {
    font-size: 20px;
    margin: 0 auto;
    margin-top: -39px;
    margin-left: -58px;
}
.plan-box{
    width: 87%;
    height: 278px;
}
.subscription {
    font-size: 12px;
    padding: 24px;
}
.learn-more a {
    font-size: 13px;
    padding: 2px 16px;
}
.billing-history-wrapper {
    /* display: block; */
    padding: 51px 17px 8px 17px
}
.billing-history-box h2 {
    font-size: 15px;
    /* margin-top: -34px; */
    margin-bottom: 0px;
}
.amt-subscription-billing {
    font-size: 16px;
    width: 100%;
    text-align: center;
    margin-top: 0px;
    padding:0 0;
}
.purchased-box-billing {
    width: 100%;
    max-width: 100%;
    margin-top: 0px;
    padding: 0 0;
}
.purchased-payment-billing {
    font-size: 14px;
    padding: 10px;
}
.purchased-payment-date-billing {
    font-size: 13px;
}
.checkin-wrapper h2 {
    font-size: 20px;
    margin-top: -40px;
    margin-bottom: 0;
}
.address-checkin {
    font-size: 14px;
}
.get-direction {
    font-size: 13px;
    text-align: center;
    padding:0 39px;
    margin-top: 0px;
    padding:0 54px;
}
.checkin-wrapper{
    width: 100%;
    margin-top: 6px;
}
.date-time-box {
    width: 100%;
    margin-top: 33px;
    max-width: 100%;
    padding: 1px 6px;
}
.date-value-box, .time-value-box {
    font-size: 12px;
}
.date-caption-box, .time-caption-box {
    font-size: 13px;
    padding: 10px 8px;
}
.custom-navbar-three{
    display: none;
}
.trigger-navbar {
    display: block;
    margin-top: 19px;
    margin-left: 118px;
}
.custom-navbar-three{
    width: 300px;
    background-color: #383838;
    position: fixed;
    right: 0;
    top: 87px;
    display:none;
}
.custom-navbar-three li {
    display: block;
    width: 100%;
    margin: 0;
    padding: 10px 15px;
     font-size: 14px;
}
.custom-navbar-three li:last-child {
    padding: 7px 18px;
    margin: 6px -1px;
}
.three-values {
    font-size: 11px;
  /*  width: 100%;*/
    max-width: 33%;
    float: right;
    margin-right: -23px;
}
.three-label {
    font-size: 9px;
    text-align: left;
    width: 100%;
    max-width: 62%;
    margin-left: 74px;

}
.payment-box {
    padding: 5px 10px;
}
.three-two-btns {
   /* margin: 0 auto;*/
  margin-left: 232px;
}
.custom-form-key-value {
   width: 100%;
 /*  max-width: 100%;*/
   margin-bottom: 30px;
   padding-right: 21px;
}
/*three-pages page media ends here*/

/*change-password page media starts here*/
.custom-navbar ul li a:hover{
    border-bottom: none;
}
.password-heading {
    max-width: 100%;
    font-size: 19px;
}
input.placeholder-clr::placeholder {
    font-size: 19px;
}
.placeholder-clr{
    max-width: 100%;
}
.main-part input[type="text"] {
    font-size: 15px;
    width: 100%;
    max-width: 100%;
}
.btn.btn-danger.change-password-save-btn {
    padding: 0px 56px;
    font-size: 21px;
    margin-bottom: 20px;
}
.main-part {
    margin-top: 160px;
}
.icon {
     width: 100%;
    max-width: 48%;
    float: left;
}
.logo-image{
max-width:100%;
}
/*change-password page media ends here*/

/*header media started*/
.custom-navbar{
        width: 300px;
        background-color: #383838;
        position: fixed;
        right: 0;
        top: 89px;
        display:none;
}
.custom-navbar li {
    display: block;
    width: 100%;
    margin: 0;
    padding: 10px 15px;
}
.custom-navbar li:last-child {
    padding: 7px 18px;
    margin: 6px -1px;
}
.custom-navbar-map-coll-page{
        width: 300px;
        background-color: #383838;
        position: fixed;
        right: 0;
        top: 89px;
        display:none;
}
.custom-navbar-map-coll-page li {
    display: block;
    width: 100%;
    margin: 0;
    padding: 10px 15px;
}
.custom-navbar-map-coll-page li{
    padding: 7px 18px;
    margin: 6px -1px;
}
/*.custom-navbar-map-coll-page li {
    padding: 7px 18px;
    margin: 6px -1px;
}*/
/*header media started*/

/*booking-details page media ended here*/

.custom-navbar-book-det{
        width: 300px;
        background-color: #383838;
        position: fixed;
        right: 0;
        top: 89px;
        display:none;
}
.custom-navbar-book-det li {
    display: block;
    width: 100%;
    margin: 0;
    padding: 10px 15px;
}
.custom-navbar-book-det li:last-child {
    padding: 7px 18px;
    margin: 6px -1px;
}

/*.trigger-navbar {
    display: block;
    padding: 29px 238px;
    position: fixed;
}*/
.image {
    width: 5%;
    text-align: right;
    float: left;
}
.image img {
    max-width: 100%;
    /* max-height: 40px; */
    /* margin-top: 12px; */
    position: absolute;
    right: 10px;
}
/*.image-map-coll-page {
    top: 14px;
    position: absolute;
    right: 18px;
}*/
.image-map-coll-page {
    width: 10%;
    text-align: right;
    position: absolute;
    float: left;
    margin-top: 0px;
    right: 18px;
}
.image-map-coll-page img {
    max-width: 73%;
}
.logo-ufp {
   /* max-width: 100%;*/
   max-width: 61%;
    margin-top: 11px;
}
.same-h4 {
    font-size: 10px;
}
input.payable-value.one-fifty {
    padding: 24px 28px;
}

.booking-details-box1 {
    width: 100%;
    margin-top: 144px;
}
.booking-details-box2 h3 {
    font-size: 19px;
}
.second-box {
    width: 100%;
    padding: 13px 10px;
}
.pay-btn-box {
    width: 100%;
}
.booking-details-wrapper {
    height: 100vh;
    overflow: auto;
}
.btn.btn-danger.pay-btn {
    padding: 3px 49px;
    font-size: 24px;
}
.part-second-value h2 {
    font-size: 15px;
    padding: 7px 82px;
}
.cancellation-pol {
    font-size: 13px;
}
.payable-stmt {
    font-size: 11px;
    margin-top: -13px;
}
.payable-value {
    font-size: 13px;
    padding: 10px 6px;
}
.booking-details-wrapper .container-fluid {
    padding: 0px 15px;
    margin-top: -22px;
}
.booking-details-box2 h3 {
    font-size: 16px;
}
.enter-code-box {
    font-size: 16px;
}
.apply-box {
    font-size: 12px;
}
.second-box {
    width: 98%;
    padding: 12px 22px;
}
.btn.btn-danger.pay-btn {
    padding: 10px 49px;
    font-size: 20px;
}
/*booking-details page media ended here*/

/*mapview page media starts here*/
.icon-mapview-collapse img {
    width: 100%;
    max-width: 76%;
    margin-top: 5px;
}
.trigger-mapview{
    display: block;
}
.custom-navbar-mapview-collapse li {
    display: none;
}
.popup-mapview {
    top: 46px;
    right: 38px;
    padding: 19px 3px 11px 17px;
}
.user-image img {
    width: 100%;
    max-width: 38%;
    margin-top: 4px;
    position: relative;
}
.search-container input {
    width: 81%;
    border: none;
    border-radius: 7px;
    margin-top: 10px;
    padding: 6px 5px;
    margin: 9px;
    background-color: #383838;
}
.left-part h2 {
    font-size: 17px;
}
.image-man img {
    margin-top: -27px;
    margin-left: -6px;
}
.left-part p {
    margin:8px;
}
.view-det a {
    font-size: 15px;
    margin: 0px 0px 0px -50px;
}
.result h6 {
    font-size: 10px;
    margin-bottom: 5px;
}
.map-coll-box-scroll {
    margin-right: 0px;
}
/*.range-labels li::before {
    right: -487px;
    width: 1px;
    height: 16px;
}*/
/*.range-labels {
    padding: 0px 0px;
     margin: 15px 41px 0;
}*/
.result{
    margin-bottom: 10px;
}
.view-det a::after {
  
    margin-top: 4px;
}
.view-det {
    margin-left: 39px;
    margin-bottom: 0px;
    margin-top: 20px;
}
.box-one, .box-two {
    margin: 29px;
}
.first-part {
    margin-top: 85px;
}
/*mapview page media ends here*/

/*card page media starts here*/
.placeholder-clr-card::placeholder{
    font-size: 14px;
}
.list {
    font-size: 14px;
    padding: 0px;
    width: 100%;
    max-width: 69%;
}
/*.trigger-navbar {
    margin-top: -14px;
}*/
.image-pay-hist {
    width: 100%;
    max-width: 30%;
    text-align: right;
    float: right;
    margin: 0px 18px 15px 0px;
}
/*.image-map-coll-page {
    width: 20%;
    text-align: right;
    float: right;
    max-width: 100%;
    margin:10px;
}*/
.popup-payment {
    max-width: 22%;
    right: 5px;
    top: 19px;
    padding: 1px 0px;
}
.make-payment-btn-box {
    text-align: center;
    display: block;
    width: 100%;
}
.make-payment-btn {
    padding: 9px 36px;
    font-size: 21px;
}
.card-fst-data{
    width: 50%;
    float: left;
    padding: 7px 9px 0px 0px;
}
.card-second-value {
    width: 42%;
    float: left;
    line-height: 34px;
    padding: 7px 9px 0px 0px;
}
.same-h4-card {
    font-size: 14px;
    padding: 3px 11px;
}
.card-second-value input[type="text"] {
    font-size: 14px;
    padding: 0px 0px;
}
.card-second-value {
    padding: 40px 9px 0px 0px;
}
.cardboxdiv{
    flex-direction: column-reverse;
}
.card-box1 {
    line-height: 18px;
    width: 100%;
    margin-top: 11px;
    margin-bottom: 88px;
    padding: 7px 0px;
    flex: 0 0 100%;
    max-width: 100%;
}
.cardimage {
 padding: 40px 0px 0px 100px;
}
.card-box2{
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 80px; 
    margin-bottom:5px;
}
.fa.down-icon {
    font-size: 19px;
    right: -6px;
    margin-top: -6px;
}
.list {
    font-size: 14px;
    padding: 0px;
}
.cards-list {
   right: -63px;
    margin-top: -30px;
    font-size: 14px;
    padding: 5px 0px;
}
.card-second-value {
    padding: 8px 9px 0px 0px;
}
.profile-paymentaa {
    margin-top: 22px;
}
.profile-paymentaa a {
    font-size: 12px;
    padding: 22px 0px 5px 8px;
}
.logout-paymentaa a {
    font-size: 12px;
    padding: 0px 20px;
}
.logout-paymentaa {
    margin-bottom: -9px;
}
.popup-paymentaa::after {
    border-width: 10px 21px 35px 0px;
    margin: -110px 0px 70px 32px;
    top: 25px;
}

.profile-paymentaa-second {
    margin-top: 22px;
}
.profile-paymentaa-second a {
    font-size: 12px;
    padding: 22px 0px 5px 8px;
}
.logout-paymentaa-second a {
    font-size: 12px;
    padding: 0px 20px;
}
.logout-paymentaa-second {
    margin-bottom: -9px;
}
.popup-paymentaa-second::after {
    border-width: 10px 21px 35px 0px;
    margin: -110px 0px 70px 32px;
    top: 5px;
}
.popup-paymentaa-second {
    margin-top: 77px;
}
/*card page media ends here*/

/*forgot-pass page media starts here*/
.signup-left-img {
   display: none;
}
.forgot-pass-right-part {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    background: #383838;
    height: 100vh;
    background-repeat: no-repeat;
}
.forgot-pass-heading {
    margin-top: 139px;
    font-size: 40px;
    color: #fff;
}
.forgot-pass-labels {
    font-size: 15px;
    color: #232020;
}
.form-control.forgot-pass-form {
    font-size: 24px;
    background:none;
}
.btn.btn-danger.forgot-pass-next-btn {
    padding: 2px 65px;
}
.forgot-pass-btn-box {
    padding: 0 0;
}
/*forgot-pass page media ends here*/

/*otp page media starts here*/
/*.otp-right-part {
    width: 100%;
}
.otp-heading {
    margin-top: 115px;
    margin-bottom: 26px;
}
.otp-labels {
    margin-bottom: 27px;
}
.otp-right-part {
    padding: 0px 196px;
}*/
.kettle-box-small {
    display: block;
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 90px;
}
.kettles-box{
        display: none;
}
.kettle-small::placeholder{
        color: white;
}
.form-control.otp-placeholder {
    color: white;
    font-size: 20px;
    outline: 0;
}
.form-control.kettle-small {
    display: inline-block;
    padding: 34px -4px;
    width: 24%;
    background-color: #5c5e70;
    text-align: center;
    border: 2px solid white;
    color: white;
}
.otp-form {
    width: 14%;
}
.otp-right-part {
    width: 100%;
    height: 100vh;
}
.otp-labels {
    font-size: 12px;
    margin-top: 0px;
    font-weight: 600;
    margin-bottom: 30px;
}
.btn.btn-danger.otp-verify-btn {
    margin-top: 30px;
    margin-bottom: 30px;
}
.otp-btn-box {
    justify-content: center;
    display: flex;
}
.otp-last-line {
    font-size: 13px;
    margin-bottom: 30px;
    margin-top: 50px;
    text-align: center;
}
.otp-heading {
    margin-top: 99px;
    margin-bottom: 15px;
    color: #ffff;
}
.otp-right-part {
    width: 100%;
    background: #383838;
    height: 100vh;
    overflow: auto;
}
.kettle-image{
  max-width: 13%;
}
.kettles-box{
    text-align: center;
}
/*otp page media ends here*/

/*new-pass page media starts here*/
.newpass-right-part {
    width: 100%;
    background: #383838;
    background-image: none;
    height: 100vh;
    overflow: auto;
}
.newpass-heading {
     font-size: 35px;
    margin-top: 120px;
}
.newpass-labels {
    font-size: 13px;
    color: grey;
    font-weight: 700;
}
.newpass-form {
    background: none;
}
.show-hide-para-newpass {
    top: 23px;
    right: 25px;
}
/*new-pass page media ends here*/

/*signup page media starts here*/
.sign-up-heading {
    font-size: 52px;
    margin-top: 132px;
    color: #fff;
}
.signup-right-part {
    width: 100%;
    margin-top: 0px;
    background: #383838;
    background-image: none;
}
.signup-labels {
    font-size: 15px;
}
.signup-form::placeholder{
    font-size: 16px;
}
.tnc h4 {
    font-size: 20px;
    color: #9b9d9e;
}
.tnc-stmt {
    color: #fff;
}
.btn.btn-danger.signup-btn {
    font-size: 25px;
    padding: 1px 50px;
}
.show-hide-para-signup {
    font-size: 13px;
}
.store-signup {
    width: 100%;
    display: block;
    float: left;
    text-align: center;
    margin-top: -64px;
}
/*signup page media ends here*/

/*login page media starts here*/
.login-form {
    background: none;
}
.store {
    width: 100%;
    display: block;
    text-align: center;
    border: none;
}
.login-left-part{
    display: none;
}
.login-right-part {
    width: 100%;
    background: #383838;
    height: 100vh;
    overflow: auto;
}
.newpass-heading {
    font-size: 35px;
    margin-top: 174px;
    color: #fff;
}
.forgot-password-btnn {
    color: #fff;
}
.btn.btn-danger.a-login-btn , .btn.btn-danger.login-create-acc-btn{
    font-size: 13px;
    color: #fff;
    margin-top: -32px;
    width: 15%;
}
.newpass-labels{
    color: black;
}
/*login page media ends here*/

/*contact page media starts here*/
.value.value-second.address-textarea {
    text-align: left;
}
.right-side-form {
    margin-bottom: 41px;
    margin-top: 0px;
}
.value{
    float: right;
}
.img-fluid.contact-pg-img {
    margin: 0 auto;
    display: flex;
}
.right-side-form{
    padding: 0px 0px;
    margin-top: 50px;
}
/*contact page media ends here*/

/*user-profile-current-plan page media starts here*/
.user-profile-plan-box {
    width: 100%;
}
.custom-userprfilebx {
    width: 100%;
    background:none;
}
.btn.btn-primary.user-profile-btn {
    font-size: 13px;
    max-width: 30%;
    margin-left: 0px; 
    margin: 0 auto;
    margin-bottom: 18px;
    padding: 10px 10px;
}
.user-profile-value {
    font-size: 15px;
    line-height: 19px;
    padding: 3px 61px;
}
.user-profile-key {
    font-size: 14px;
    padding: 0px 58px;
    line-height: 40px;
    text-align: center;
}
.btn.btn-primary.user-profile-btn {
    max-width: 45%;
}
.user-profile-menu-box a {
    font-size: 22px;
    padding: 0 42px;
    text-align: center;
    margin:0 auto;
}

.user-profile-heading {
    font-size: 23px;
    margin-top: 109px;
    margin-bottom: 36px;
}
/*user-profile-current-plan page media ends here*/

/*subscription-plan-popup page media starts here*/
.card-box {
    width: 24%;
}
.gym-name{
    font-size: 12px;
}
/*subscription-plan-popup page media ends here*/

/*payment-history page media starts here*/
.bank-det {
    width: 50%;
}
#slider2 .owl-stage-outer {
    width: 100%;
    max-width: 87%;
}
#slider2::after {
    margin-top: -88px;
}
#slider2::before {
    padding: 10px 11px; 
}
.owl-next {
    top: -27%;
}
.owl-next {
    top: -23%;
}
.earnings-dollar {
    font-size: 12px;
}
.month-name h4{
    font-size: 19px;
}
.btn.btn-danger.save-btn-paym {
    font-size: 17px;
    padding: 5px 35px;
}
.box-one-paym {
    margin: 0 auto;
}
.main-box-bank-det {
    width: 100%;
    max-width: 100%;
}
/*.custom-navbar-pay-hist {
    width: 367px;
    background-color: #383838;
    position: fixed;
    right: -133px;
    text-align: left;
    padding: 0 0;
    top: 89px;
    display:none;
}*/
.custom-navbar-pay-hist {
    width: 300px;
    background-color: #383838;
    position: fixed;
    right: -11px;
    text-align: left;
    padding: 0px 12px;
    top: 87px;
    display: none;
}
.custom-navbar-map-coll-page {
    width: 367px;
    background-color: #383838;
    position: fixed;
    right: -133px;
    text-align: left;
    padding: 0 0;
    top: 89px;
    display:none;
}
.key-paym {
    font-size: 11px;
    padding: 4px 0px 10px 70px;
}
.value-paym {
    font-size: 11px;
    margin: 0;
    padding: 0px 18px 0px 4px;
    width: 100%;
    margin-top: -11px;
}
.custom-navbar-pay-hist li {
    /* width: 183px; */
    /*width: 212px;*/
    font-size: 17px;
    display: block;
    /* padding: 0px 118px; */
}
.custom-navbar-map-coll-page li {
    font-size: 17px;
    padding: 4px 4px;
}
.earnings-heading h5 {
    font-size: 15px;
}
.four-rows-paym {
    margin-right: 0px;
}
.cus-details-paym {
    font-size: 11px;
    padding: 8px 20px;
    text-align: center;
}
.row-one-details {
    font-size: 12px;
   /* text-align: center;*/
}
.row-fst-paym {
    max-width: 515px;
}
/*payment-history page media ends here*/

/*subscription-plandetails page media starts here*/
.msg-box-sub-plan {
    font-size: 12px;
}
/*subscription-plandetails page media ends here*/
}

@media(max-width: 600px){
/*otp page media starts here*/
.otp-form {
    width: 24%;
}
}
/*otp page media ends here*/
@media(max-width: 500px){
/*card page media starts here*/
.list {
    margin-right: 0px;
}
.trigger-navbar {
    margin-left: 90px;
}
/*card page media ends here*/

/*mapview-collpase page media starts here*/
.modal-content {
    width: 300px;
}
.closebtn.cross2 {
    left: -49px;
}
/*.sidenav .closebtn {
    z-index: 99;
    margin-left: 331px;
    margin-top: 102px;
    padding: 0px 0px 0px 18px;
}*/
.search-container {
    width: 76%;
    background-position: 225px -22px;
}
.search-container input {
    width: 64%;
    padding: 6px 0px;
    margin: 9px;
}
/*mapview-collpase page media ends here*/

/*payment-history-month page media starts here*/
.image-pay-hist {
    max-width: 11%;
    margin: 0px 33px 15px 0px;
}
/*payment-history-month page media ends here*/
}

@media(max-width: 590px){
/*signup page media starts here*/
.show-hide-para-signup {
    top: 21px;
    right: 61px;
}
.sign-up-heading {
   /* margin-bottom: 103px;*/
   margin-bottom: 73px;
}
/*signup page media ends here*/

/*signup page media starts here*/
.col-one {
    width: 100%;
}
.tnc h4 {
    font-size: 20px;
}
.for-margin {
    margin-top: -91px;
}
/*signup page media ends here*/
}
@media(max-width: 575px){
    
    .three-two-btns {
    /* margin: 0 auto; */
    margin-left: 150px;
}
    .search-box-text {
   
    font-size: 13px;
}
    div#demo-collapsee-page3 {
    width: 100%;
}
    .select-box-wrapper {
    max-width: 91%;
}
  /*  div#gym_list {
    margin-left: 7px;
}*/
    .msg-box textarea {
    font-size: 10px;
}
	.btn.btn-danger.a-login-btn , .btn.btn-danger.login-create-acc-btn{
    width: 24%;
}
.slash-card {
    margin-top: 14px;
}
.row.expiration-box {
    margin-bottom: 17px;
}

	.amt-subscription-billing-checkins {
    font-size: 11px;
}
.list-icon-sub-plan-checkins-weekly::after {
	display: none;
}
.list-icon-sub-plan-checkins-select-gym::after {
   display: none;
}
.custom-navbar-three {
    width: 307px;
    padding: 1px 18px;
    margin-top: -11px;
}
.estimated-payment-para {
    padding: 10px 9px;
}
/*mapview-collapse check-in btn media starts here*/
.btn.btn-danger.send-query-btn-custome {
    padding: 10px 36px;
    font-size: 20px;
}
.for-info {
    font-size: 11px;
}
.box-one, .box-two {
    padding: 17px 15px 13px 13px;
}
/*mapview-collapse check-in btn media ends here*/

/*mapview-collpase page media started here*/
.map-photo{
    display: none;
    margin:0 auto;
}
.modal-content {
    width: 448px;
    /* margin: 0 auto; */
}
.section-map-coll-gymdet {
    background-position: -28px 25px;
}
.left-part-mapview-gymdetails {
    margin-top: 11px;
}
/*section.section-map-coll-gymdet {
    background: #000;
}*/
/*mapview-collapse media ended here*/

/*card page media startd here*/

.three-label-card {
    max-width: 50%;
}
.three-values-card {
    max-width: 35%;
}
.profile-paymentaa a {
    font-size: 12px;
    padding: 19px 0px 5px 8px;
}
.logout-paymentaa {
    margin-bottom: 13px;
}
.popup-paymentaa::after {
    display: none;
}
.popup-paymentaa {
    margin-top: 69px;
    width: 100%;
    max-width: 17%;
}
.popup-paymentaa-second {
    margin-top: 59px;
    max-width: 15%;
}
.popup-paymentaa-second::after {
    margin: -110px 0px 70px 20px;
    top: 12px;
}
.image {
    top: 11px;
    max-width: 12%;
}
 /*card page media ended here*/

/*three-pages page media startd here*/
.three-values {
    max-width: 46%;
    margin-right: -7px;
}
.billing-history-wrapper {
    background-position: 128% -37px;
}
.billing-history-wrapper {
    background-position: 116% -22px;
}
.three-label{
    margin-left: 0px;
}
/*three-pages page media endd here*/

.closebtn.cross2 {
    left: 24px;
    top: -23px;
    border-left: 2px solid;
}
.custom-navbar-mapview-collapse li{
    display: none;
}
.trigger-mapview{
    display: block;
}
.icon-mapview-collapse img {
    width: 100%;
    max-width: 100%;
    margin-top: 5px;
}
.user-image img {
    width: 100%;
    max-width: 60%;
    margin-top: 6px;
}
.popup-mapview {
    top: 58px;
    right: 8px;
    padding: 15px 6px 11px 17px;
}
.left-part h2 {
    font-size: 17px;
}
.image-man img {
    height: 76px;
    margin-left: -15px;
}
.left-part h3 {
    margin-bottom: 27px;
    font-size: 15px;
}
.view-det {
    margin-top: 35px;
}
/*booking-details page media started here
.span-icon {
    font-size: 22px;
    padding: 0px 20px;
}
.payable-value {
    font-size: 15px;
    padding: 9px 33px;
}
.same-h4{
    font-size: 10px;
}
/*booking-details page media ended here*/

/*contact page media started here*/
/*.value {
    font-size: 14px;
    padding: 0px 1px;
    margin-top: -27px;
}
.key{
    font-size: 13px;
}*/
.value {
    margin-top: -25px;
    padding: 9px 0px;
}
.left-side-form {
    padding: 8px 10px 34px;
}
.key {
    line-height: 1;
    padding: 0px 10px;
}
.right-side-form{
    margin-top: 60px;
    margin-bottom: 10px;
}
.value.value-second.address-textarea {
    padding: 35px 0px;
    text-align: right;
}
/*contact page media ended here*/

.show-hide-para-signup {
    top: 21px;
    right: 62px;
}
.key{
    font-size: 12px;
}
.value{
    font-size: 11px;
}
.send-query-btn {
    font-size: 18px;
}
/*newpass page media started here*/

.show-hide-para-newpass {
    top: 23px;
    right: 17px;
}
/*newpass page media ended here*/

/*subscription-plan-popup page media started here*/
.card-box {
    width: 43%;
}
.popup-box-heading {
    font-size: 20px;
    font-weight: 600;
    margin-top: 11px;
}
.searchTerm {
  height: 40px;
  width: 86%;
 }
 .searchButton {
    height: 40px;
}
.searchButton {
    background-position: 6px 2px;
}
.searchTerm::placeholder{
    font-size: 11px;
    font-weight: 500;
    padding: 0 0;

}
.searchButton {
    width: 54px;
}
/*.popup-section {
    padding: 18px 0px;
}*/
.cross-btn {
    margin-right: 24px;
}
/*subscription-plan-popup page media ended here*/

/*subscription-plan page media started here*/
.box-one-for-bg-img {
    width: 100%;
    max-width: 80%;
}
 .box-one-subscription {
    width: 83%;
}
.btn.btn-danger.subc-btn {
    margin-top: 0px;
    padding: 11px 22px;
    font-size: 13px;
}
.link-venues a {
    font-size: 8px;
}
.link-venues {
    margin-top: 5px;
    max-width: 100%;
    padding: 23px 2px;
}
.box-one-for-bg-img {
    background-position: 98px -13px;
}
.box-one-subscription:hover .box-one-for-bg-img {
    background-position: 94px -13px;
}
.next-part-sub{
    width: 100%;
    max-width: 70%;
    padding: 68px 4px 30px 4px;
}
/*subscription-plan page media ended here*/

/*payment-history page media started here*/
.row-fst-paym {
    max-width: 400px;
}
#slider2 .owl-stage-outer {
    width: 100%;
    max-width: 75%;
}
.popup-payment {
    max-width: 22%;
    right: 117px;
    top: -77px;
}
.profile-payment h2 {
    padding: 12px 6px;
    font-size: 10px;
}
.logout-payment h2 {
    font-size: 10px;
    padding: 0px 12px;
}
.cards-list{
    right: -13px;
}
.earnings-dollar {
    font-size: 10px;
}
.month-name h4 {
    font-size: 13px;
}
#slider2::before {
    padding: 3px 8px;
}

#slider2::after {
    padding: 7px 32px;
    margin-top: -61px;
}
.owl-next{
    height: 82px;
    right: 28px;
}
.owl-prev {
    top: -39%;
    margin-left: 4px;
}
/*payment-history page media ended here*/
}
@media(max-width: 470px){
/*mapview-collpase page media started here*/
/*.closebtn.cross2 {
    left: -62px;
}*/
img.pro-image {
    width: 100%;
    max-width: 14%;
}
.trigger-navbar {
    margin-left: 10px;
}
.sidenav .closebtn {
    margin-left: 328px;
    margin-top: 102px;
    z-index: 999;
}
/*mapview-collpase page media ended here*/
}
@media(max-width: 485px){
.three-two-btns {
    margin-left: 139px;
}
}

@media(max-width: 470px){
/*mapview-collpase page media started here*/
.modal-content {
    width: 400px;
}
/*mapview-collpase page media ended here*/
}
@media(max-width: 450px){
.three-two-btns {
    margin-left: 120px;
}
}
@media(max-width: 400px){
    .img-fluid.img-fluid-gym {
    max-width: 35%;
}
    .three-two-btns {
    /* margin: 0 auto; */
    margin-left: 117px;
}
    img.pro-image {
   
    margin-top: -6px;
}

.check-in-wrapper {
    width: 75%;
}
.for-info{
    margin-top: 0px;
}
/*payment-history page media started here*/
.key-paym {
    padding: 4px 0px 10px 27px;
}
/*payment-history page media ended here*/

/*three-pages page media started here*/
.date-time-box {
    margin-top: 18px;
}
.three-user-profile-menu-box .nav>li>a {
    padding: 0px 3px;
    font-size: 10px;
}
.checkin-wrapper-fourth-tab {
    padding: 13px 22px;
}
/*.three-values{
    max-width: 48%;
}*/
.billing-history-wrapper {
    background:none;
}
.date-value-box, .time-value-box {
    font-size: 11px;
    padding: 0px 32px;
}
.date-caption-box, .time-caption-box {
    font-size: 10px;
}
.date-time-box {
    padding: 4px 23px;
}
/*three-pages page media ended here*/


/*mapview-collpase page media started here*/
/*.section-map-coll-gymdet {
    background-position: -33px 23px;
}*/
.image-man img {
    margin-left: -28px;
}
.modal-content{
    width: 300px;
}
.closebtn.cross2 {
    left: -125px;
}
.sidenav .closebtn {
    margin-left: 188px;
    margin-top: 90px;
    padding: 0px 8px 0px 15px;
    z-index: 99;
}
.search-container {
    width: 74%;
    background-position: 210px -22px;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 15px;
}
.first-part {
    width: 300px;
    margin:0 auto;
    margin-left: 0px;
    text-align: center;
}
.placeholder::placeholder {
    font-size: 14px;
}
.map-coll-box-scroll {
    margin-top: 62px;
}
.left-part h3 {
    font-size: 12px;
}
.distance-button {
    padding:  0 0;
}
.view-det a {
    font-size: 11px;
    margin: 0px 0px 0px -59px;
}
.range-labels li {
    width: 0px;
    font-size: 8px;
    padding: 0px 19px;
}
.speed-num {
    font-size: 14px;
}
.kms {
    font-size: 10px;
}
.range-labels li::before {
    right: -10px;
}
.map-photo{
    display: none;
}
.range {
    width: 261px;
    margin-left: -23px;
}
.box-one, .box-two {
    padding: 21px 64px 13px 4px;
    width: 100%;
    max-width: 86%;
}
.distance-button {
    margin-top: -5px;
}
.view-det {
    margin-right: -48px;
    margin-top: 50px;
}
.map-coll-box-scroll {
    height: 357px;
     /* margin-right: 37px;*/
}
.time{
    box-shadow: none;
}
/*.sidenav{
    width: 310px !important;
}*/
.range-labels {
    margin: 16px 49px 0;
}
/*mapview-collpase page media ended here*/

/*newpass page media started here*/
/*.trigger-navbar {
    padding: 0px 174px;
    margin-top: -2px;
}*/
/*.trigger-navbar {
    margin: 0 auto;
    margin-top: 0px;
    margin-left: 107px;
    text-align: center;
    justify-content: center;
}*/
.show-hide-para-newpass {
    top: 23px;
    right: 7px;
}
/*newpass page media ended here*/

.closebtn.cross2 {
    left: -62px;
}



/*card page media started here*/
select.list {
    margin-right: 17px;
}
.trigger-navbar {
    margin-left: 47px;
    margin-top: 6px;
}
.icon {
    max-width: 50%;
    margin-top: 7px;
    padding: 0px 22px;
}
.image {
    top: 13px;
    right: 18px;
    max-width: 12%;
}
/*card page media ended here*/

/* payment-history-month page media started here*/
.owl-next {
    width: 0px;
}
#slider2 .owl-stage-outer {
    width: 100%;
    max-width: 72%;
}
#slider2::after {
    padding: 7px 21px;
    margin-top: -61px;
}
.row-fst-paym {
    max-width: 285px;
}
/* payment-history-month page media ended here*/

/* mapview-collapse page media started here*/
.closebtn.cross2 {
    left: 43px;
    top: -14px;
}
.cross-fit h5 {
    margin-top: 104px;
}
.left-part-mapview-gymdetails {
    margin-top: 27px;
}
.for-info {
    font-size: 10px;
}
/* mapview-collapse page media ended here*/

}
@media(max-width: 455px){
    .value.value-second {
    padding: 38px 0px;
}
/*signup page media started here*/
.show-hide-para-signup {
    top: 23px;
    right: 41px;
    font-size: 11px;
}
/*signup page media ended here*/

/*payment-history-month page media started here*/
.icon-pay-hist {
    max-width: 38%;
}
/*payment-history-month page media ended here*/

/*card page media started here*/
.popup-paymentaa {
    width: 100%;
    max-width: 22%;
    margin-top: 71px;
    border-radius: 9px;
}
.logout-paymentaa a {
    font-size: 10px;
    padding: 0px 17px;
}
.profile-paymentaa a {
    font-size: 10px;
}

.popup-paymentaa-second {
    width: 100%;
    max-width: 20%;
    margin-top: 91px;
}
.logout-paymentaa-second a {
    font-size: 10px;
    padding: 0px 17px;
}
.profile-paymentaa-second a {
    font-size: 10px;
}
/*card page media ended here*/

/*subscription-plan page media started here*/
.btn.btn-danger.subc-btn {
    padding: 11px 17px;
    font-size: 11px;
}
.next-part-sub {
    max-width: 86%;
}
.box-one-for-bg-img {
    max-width: 100%;
}
/*subscription-plan page media ended here*/
}
@media(max-width: 468px){
 /*otp page media starts here*/
   .kettles-box {
    text-align: center;
    margin: 9px -35px;
}
/*otp page media ends here*/
}

@media(max-width: 427px){
/*otp page media starts here*/
.otp-form {
    width: 33%;
    padding: 24px 0px;
}
/*otp page media ends here*/
}
/*@media(max-width: 399px){
    .kettle-box-small{
        display: block;
        width: 100%;
        float: left;
    }
    .kettles-box{
        display: none;
    }
    .kettle-small::placeholder{
        color: white;
    }
    .form-control.otp-placeholder {
    color: white;
    font-size: 20px;
    outline: 0;
}
.form-control.kettle-small {
    display: inline-block;
    padding: 15px 13px;
    width: 23%;
    background-color: #5c5e70;
    text-align: center;
    border: 2px solid white;
    color: white;
}}*/
/* three-pages page media started here*/
/* three-pages page media ended here*/
@media(max-width: 480px){
   /* .row-fst{
        display: flex;
        margin-left: -14px;
    }*/
   .row-fst .card-box{
    flex: 0 0 100%;
    max-width: 100%
   }
   .estimated-payment-para {
    padding: 0px 9px;
}
}

@media(max-width: 360px){
   /* signup page media started here*/
    .show-hide-para-signup {
    top: 23px;
    right: 30px;
    font-size: 11px;
}
   /* signup page media ended here*/
.date-time-box {
    padding: 1px 8px;
}
.card-box {
    width: 100%;
    float: none;
    }
   
/*@media(max-width: 320px){
    .user-image img {
    width: 100%;
    max-width: 60%;
    margin-top: 6px;
}
.trigger-mapview{
    display: block;
}
.custom-navbar-mapview-collapse li {
    display: none;
}
    .popup-mapview {
    top: 91px;
    right: -38px;
    padding: 14px 1px 4px 15px;
}
.box-one, .box-two {
    padding: 21px 10px;
}
.left-part h2 {
    font-size: 11px;
}
.image-man img {
    height: 51px;
    margin-left: -30px;
    margin-top: -17px;
}
.left-part h3 {
    font-size: 17px;
    margin-top: 33px;
}
.view-det {
    margin-top: 137px;
    margin-left: -50px;
}
.distance-button {
    background: transparent;
    padding: 11px 18px;
    border-radius: 8px;
    border: none;
    box-shadow: 0px 0px 6px grey;
    margin-bottom: -7px;
    margin-top: -4px;
}
/*otp page media starts here*/
.otp-form {
    width: 41%;
    padding: 25px 0px;
}
/*otp page media ends here*/
}

/*check-in-detail page media start here*/

@media only screen and (max-width: 1232px) {
     .head{
            padding: 9px 15px;
        }
    .purchased-box-billing-checkins{
                max-width: 40%;
    }
   
    /*.custom-navbar-pay-hist {
        padding: 0px 0px 0px 40px;
    }
    .custom-navbar-pay-hist li {
   padding: 20px 0px;
    font-size: 24px;
    font-weight: 600;
    margin: 3px 0px;
    float: left;
    margin-right: 28px;
    }*/
.common{
        flex: 0 0 30%;
        max-width: 30%;
    }
    .estimated-stmt-checkins{
        font-size: 20px;
    }
    .estimated-value-checkins{
        font-size: 16px;
    }
    .pagination{
        padding-right: 15px;
    }
@media only screen and (max-width: 1024px){
    .btn.btn-danger.fixed-btn-checkins{
        padding: 15px 26px;
        font-size: 20px;
    }
    /*.custom-navbar-pay-hist li{
        font-size: 20px;
    }*/
}
@media only screen and (max-width: 992px){

.modal-content.content-of-modal-custom {
    float: right;
    margin-right: -59px;
}
   /* .amt-subscription-billing-checkins{
        font-size: 22px;
        padding: 14px 45px;
    }*/
    .purchased-payment-billing-checkins{
        font-size: 16px;
        padding: 0px 0px 0px 14px;
    }
    .purchased-payment-date-billing-checkins {
    font-size: 16px;
    padding: 0 0 0 14px;
}

/*.custom-navbar-pay-hist {
    width: 367px;
    background-color: #383838;
    position: fixed;
    right: 5px;
    text-align: right;
    padding: 0 0;
    top: 89px;
    display:none;
}*/
/*.trigger-navbar {
    display: none;
    margin-top: 11px;
    margin-left: 10px;
    }*/
/* .custom-navbar-pay-hist li a{
        font-size: 17px;
    }*/
    .estimated-stmt-checkins {
    font-size: 14px;
}
.image{
    float: right;
}
/*.popup-paymentaa-second {
    right: 111px;
}*/
@media only screen and (max-width: 768px){
.modal-content.content-of-modal-custom {
   float: right;
    margin-right: -6px;
}

.login-act-heading {
    font-size: 20px;
}
    .amt-subscription-billing-checkins{
       /* font-size: 18px;*/
        padding: 14px 18px;
    }
    .purchased-payment-billing-checkins{
        font-size: 14px;
        padding: 0px 0px 0px 14px;
    }
    .purchased-payment-date-billing-checkins {
    font-size: 12px;
    padding: 0 0 0 14px;
    }
    .purchased-box-billing-checkins {
    max-width: 50%;
    }
 .list-sub-plan-checkins-select-gym {
    font-size: 15px;
    padding: 12px 1px;
}
.list-sub-plan-checkins-weekly{
    font-size: 15px;
    padding: 12px 1px;
}
.estimated-stmt-checkins {
    font-size: 12px;
}
.estimated-value-checkins {
    font-size: 13px;
 }
 .list-icon-sub-plan-checkins-select-gym::after {
    font-size: 28px;
    margin-top: -48px;
}
.list-icon-sub-plan-checkins-weekly::after{
    font-size: 28px;
    margin-top: -63px;
}
.list-icon-sub-plan-checkins-select-gym::after{
    padding: 0px 15px;
}
.list-icon-sub-plan-checkins-weekly::after{
    padding: 0px 38px;
}
.image {
    right: 119px;
}
.logout-paymentaa-second a {
    font-size: 12px;
    padding: 0px 8px;
}
/*.custom-navbar-pay-hist{
    top: 84px;
}
.custom-navbar-pay-hist li {
    font-size: 15px;
}
.custom-navbar-pay-hist li a {
    font-size: 15px;
}
.custom-navbar-pay-hist li{
    padding: 16px 6px;
    margin-right: 12px;
}*/
.trigger-navbar{
    display: block;
}

}

@media only screen and (max-width: 575px){
	.four-buttons-checkins {
    padding: 8px 20px;
}
   .billing-history-wrapper-checkins{
    padding: 0px;
   }
   .amt-subscription-billing-checkins{
            text-align: center;
            display: block;
   }    
   .purchased-box-billing-checkins{
            margin: 0 auto;
   }
   .purchased-box-billing-checkins{
    float: none;
    text-align: center;
    width: 100%;
    max-width: 80%;
    padding: 2px 0px;
   }
   .purchased-payment-billing-checkins{
    padding: 0px 0px 0px 0px;
    display: inline-block;
   }
   .btn.btn-danger.fixed-btn-checkins {
    padding: 10px 13px;
    font-size: 13px;

}
.estimated-payment-para{
    border: 1px solid #aba4a3;
}
.common {
     flex: 0 0 33%;
    max-width: 33%;
}
.list-sub-plan-checkins-select-gym {
    font-size: 12px;
    padding: 13px 0px;
    border: 2px solid #aba4a3;
}
.list-icon-sub-plan-checkins-select-gym::after {
    padding: 0px 8px;
}
.list-icon-sub-plan-checkins-select-gym::after {
    font-size: 21px;
    margin-top: -36px;
}
.list-sub-plan-checkins-weekly{
    border: 2px solid #aba4a3;
}
.list-sub-plan-checkins-weekly {
    font-size: 12px;
    padding: 13px 0px;
}
.list-icon-sub-plan-checkins-weekly::after {
    padding: 0px 17px;
    font-size: 21px;
    margin-top: -36px;

}
.four-buttons-checkins{
    padding: 0px 5px;
    text-align: center;
}
.value-sub-plan-checkins{
    margin-left: 2px;
}
.estimated-stmt-checkins{
    font-size: 11px;
}
.estimated-value-checkins{
 font-size: 13px;
}
.logout-paymentaa-second a{
    font-size: 11px;
}
.popup-paymentaa-second{
    margin-top: 70px;
}
.icon{
    padding: 0px 15px 0 0;
}
/*.custom-navbar-pay-hist li {
    padding: 13px 3px;
    margin-right: 4px;
}
.custom-navbar-pay-hist{
    width: 290px;
}*/

}

